@model AdminDashBoard.Models.Order

@{
    ViewData["Title"] = "التفاصيل";
}

<h1>التفاصيل</h1>

<div class="col-12">
    <h4>الطلب</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">كود السلة
            @*@Html.DisplayNameFor(model => model.Cart)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cart.ID)
        </dd>
        <dt class = "col-sm-2">العميل
            @*@Html.DisplayNameFor(model => model.User)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-2">اجمالي السعر
            @*@Html.DisplayNameFor(model => model.TotalPrice)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">العنوان
            @*@Html.DisplayNameFor(model => model.Address)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">طريقة الدفع
            @*@Html.DisplayNameFor(model => model.PaymentMethod)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">حالة الطلب
            @*@Html.DisplayNameFor(model => model.status)*@
        </dt>
        <dd class = "col-sm-10">@ViewBag.StateName
            @*@Html.DisplayFor(model => model.status)*@
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.ID">تعديل</a> |
    <a asp-action="Index">العودة للطلبات</a>
</div>
