@model IEnumerable<AdminDashBoard.Models.Order>

@{
    ViewData["Title"] = "عرض";
}

<h1>الطلبات</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>كود السلة
                @*@Html.DisplayNameFor(model => model.Cart)*@
            </th>
            <th>العميل
                @*@Html.DisplayNameFor(model => model.User)*@
            </th>
            <th>اجمالي السعر
                @*@Html.DisplayNameFor(model => model.TotalPrice)*@
            </th>
            <th>العنوان
                @*@Html.DisplayNameFor(model => model.Address)*@
            </th>
            <th>طريقة الدفع
                @*@Html.DisplayNameFor(model => model.PaymentMethod)*@
            </th>
            <th>حالة الطلب
                @*@Html.DisplayNameFor(model => model.status)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            @{
                    if(item.status == 0)
                    {
                        <td>انتظار</td>
                    }
                    else if(item.status == 1)
                    {
                        <td>تم الشحن</td>
                    }
                    else if(item.status == 2)
                    {
                        <td>تم التوصيل</td>
                    }
            }
            @*<td>
                @Html.DisplayFor(modelItem => item.status)
            </td>*@
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.ID">تعديل</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ID">تفاصيل</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
