@model AdminDashBoard.Models.Product

@{
    ViewData["Title"] = "حذف";
}

<h1>حذف</h1>

<h3>هل أنت متأكد من حذف هذا المنتج?</h3>
<div class="col-12">
    <h4>المنتج</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">الاسم
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">السعر
            @*@Html.DisplayNameFor(model => model.Price)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">الوصف
            @*@Html.DisplayNameFor(model => model.Description)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">الكمية
            @*@Html.DisplayNameFor(model => model.Quntity)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quntity)
        </dd>
        <dt class = "col-sm-2">الخصم
            @*@Html.DisplayNameFor(model => model.Discount)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">الظهور في الواجهة
            @*@Html.DisplayNameFor(model => model.ShowInHome)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowInHome)
        </dd>
        <dt class = "col-sm-2">الفئة
            @*@Html.DisplayNameFor(model => model.Category)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd class>
        <dt class = "col-sm-2">الموسم
            @*@Html.DisplayNameFor(model => model.Season)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season.Name)
        </dd class>
        <dt class = "col-sm-2">النوع
            @*@Html.DisplayNameFor(model => model.Type)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة للمنتجات</a>
    </form>
</div>
