@model IEnumerable<AdminDashBoard.Models.Season>

@{
    ViewData["Title"] = "Index";
}

<h1>Season</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add Session</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                Image
          </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                <img src="@item.ImagePath" style="width:50px; height:50px;" />
           </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
